<div class="wrapper">
    <div class="perfil-section" [@slideIn]>
        <h1> Solicitar turno </h1>

        <div class="paciente-selector" *ngIf="this.usuario.tipo == 'admin'">
            <label for="paciente"><strong>Seleccionar Paciente:</strong></label>
            <select id="paciente" [(ngModel)]="selectedPaciente" (ngModelChange)="seleccionarPaciente()">
                <option *ngFor="let paciente of pacientes" [value]="paciente.email">
                    {{ paciente.nombre }} {{ paciente.apellido }}
                </option>
            </select>
        </div>

        <!-- Dropdown para seleccionar especialista -->
        <!-- Botones para seleccionar especialista -->
        <label *ngIf="this.usuario.tipo == 'admin' && this.selectedPaciente"><strong>Seleccionar Especialista:</strong></label>
        <div *ngIf="this.usuario.tipo == 'admin' && this.selectedPaciente" class="botones-especialistas" [@buttonExpand]>
            <button *ngFor="let especialista of especialistas"
                    (click)="seleccionarEspecialista(especialista)"
                    [class.selected]="especialista === selectedEspecialista">
                <img [src]="especialista.foto1" alt="{{ especialista.nombre }}" class="imagen-especialista">
                <span>{{ especialista.nombre }} {{ especialista.apellido }}</span>
            </button>
        </div>

        <label *ngIf="this.usuario.tipo != 'admin'"><strong>Seleccionar Especialista:</strong></label>
        <div *ngIf="this.usuario.tipo != 'admin'" class="botones-especialistas" [@buttonExpand]>
            <button *ngFor="let especialista of especialistas"
                    (click)="seleccionarEspecialista(especialista)"
                    [class.selected]="especialista === selectedEspecialista">
                <img [src]="especialista.foto1" alt="{{ especialista.nombre }}" class="imagen-especialista">
                <span>{{ especialista.nombre }} {{ especialista.apellido }}</span>
            </button>
        </div>

        <label *ngIf="this.selectedEspecialista"><strong>Seleccionar Especialidad:</strong></label>
        <div *ngIf="this.selectedEspecialista">
            <div class="especialidades-container">
                <div class="especialidad-boton-wrapper" *ngFor="let especialidad of especialidadesDisponibles" [@specialityExpand]>
                    <span class="especialidad-nombre">{{ especialidad }}</span>
                    <div
                        class="especialidad-boton"
                        (click)="selectedEspecialidad = especialidad; selectedTurno = ''; obtenerTurnosDisponibles()"
                        [class.selected]="selectedEspecialidad === especialidad"
                    >
                        <img [src]="obtenerImagenEspecialidad(especialidad)" alt="Imagen de la especialidad" />
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="turnosDisponibles.length > 0; else noTurnosDisponibles">
            <label  class="label-turno" *ngIf="turnosDisponibles.length > 0"><strong>Seleccionar Turno:</strong></label>
            <div class="turnos-container" [@buttonExpand]>
                <button
                    class="turno-boton"
                    *ngFor="let turno of turnosDisponibles"
                    (click)="selectedTurno = turno"
                    [class.selected]="selectedTurno === turno"
                >
                {{ formatearFecha(turno) }}
                </button>
            </div>
        </div>

        <ng-template #noTurnosDisponibles>
            <p class="no-turnos-message" *ngIf="this.selectedEspecialidad && this.selectedEspecialista">Lo lamentamos, no hay turnos disponibles en este momento.</p>
        </ng-template>

        <div *ngIf="selectedTurno" [@buttonExpand]>
            <button (click)="guardarTurno()" class="guardar-turno-btn">
                Guardar Turno
            </button>
        </div>
    </div>
</div>
