
<div class="wrapper">
    <div class="welcome-section">
        <h1>Bienvenido a Nuestro Centro Médico</h1>
        <p>
            Nos complace tenerte aquí. <br> 
            Regístrate para acceder a nuestros servicios o inicia sesión si ya tienes una cuenta.
        </p>
        <div class="buttons">
            <button class="register-btn"  (click)="registrarse()">Registrarse</button>
            <button class="login-btn" (click)="iniciarSesion()">Iniciar Sesión</button>
        </div>
    </div>
</div>