<div class="wrapper">
    <div class="perfil-section">
        <h1> Mi Perfil </h1>
        <div class="fotos-container">
            <div class="foto">
              <img [src]="usuario.foto1" alt="Foto 1">
            </div>
            <div *ngIf="usuario.tipo == 'paciente'" class="foto">
              <img [src]="usuario.foto2" alt="Foto 2">
            </div>
        </div>
        <div class="perfil-container">
            <div class="perfil-card">
                <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
                <p><strong>DNI:</strong> {{ usuario.dni }}</p>
                <p><strong>Edad:</strong> {{ usuario.edad }}</p>
                <p><strong>Email:</strong> {{ usuario.email }}</p>
                <p *ngIf="usuario.tipo =='paciente'"><strong>Obra Social:</strong> {{ usuario.obrasocial }}</p>
                <p *ngIf="usuario.tipo =='especialista'"><strong>Especialidades:</strong> {{ usuario.especialidades }}</p>

                <ng-container *ngIf="usuario.tipo == 'especialista'">
                    <div class="input-duration">
                        <label for="duracionTurno"><strong>Duración del Turno (minutos):</strong></label>
                        <input type="number" id="duracionTurno" [(ngModel)]="usuario.duracionTurno" min="30" placeholder="Ejemplo: 30" (ngModelChange)="actualizarDuracionEnFirebase()">
                    </div>

                    <div class="especialidad-selector">
                        <label for="especialidad"><strong>Seleccionar Especialidad:</strong></label>
                        <select id="especialidad" [(ngModel)]="selectedEspecialidad">
                            <option *ngFor="let especialidad of usuario.especialidades" [value]="especialidad">
                                {{ especialidad }}
                            </option>
                        </select>
                    </div>

                    <!-- Si se ha seleccionado una especialidad, mostrar los días y horarios -->
                    <div *ngIf="selectedEspecialidad">
                        <h3>Agregar Franja Horaria</h3>
                        <label for="dia">Día de la Semana:</label>
                        <select id="dia" [(ngModel)]="selectedDia">
                            <option *ngFor="let dia of diasDeLaSemana" [value]="dia">{{ dia }}</option>
                        </select>

                        <label for="inicioHora">Hora de Inicio:</label>
                        <input type="time" id="inicioHora" [(ngModel)]="inicioHora">

                        <label for="finHora">Hora de Fin:</label>
                        <input type="time" id="finHora" [(ngModel)]="finHora">

                        <button (click)="agregarFranjaHoraria()">Agregar Franja Horaria</button>

                        <!-- Mostrar las franjas horarias añadidas -->
                        <div class="franjas-list">
                            <h4>Franjas Horarias Añadidas:</h4>
                            <ul>
                                <li *ngFor="let franja of franjasHorarias; let i = index">
                                    <strong>{{ franja.especialidad }}</strong>: {{ franja.dia }} - {{ franja.inicio }} a {{ franja.fin }}
                                    <!-- Botón para eliminar la franja -->
                                    <button (click)="eliminarFranja(i)" class="delete-button">Borrar</button>
                                </li>
                            </ul>
                        </div>
                    </div> 
                </ng-container>
            </div>
        </div>
    </div>
</div>
