<div class="wrapper">
  <div class="perfil-section" [@slideIn]>
      <h1> Mi Perfil </h1>
      <div class="fotos-container" *ngIf="usuario.foto1">
          <div class="foto">
              <img [src]="usuario.foto1" alt="Foto 1">
          </div>
          <div *ngIf="usuario.tipo == 'paciente'" class="foto">
              <img [src]="usuario.foto2" alt="Foto 2">
          </div>
      </div>
      <div class="perfil-container">
          <div class="perfil-card" [@expand]>
              <h2>{{ usuario.nombre | capitalizeFirstLetter}} {{ usuario.apellido | capitalizeFirstLetter }}</h2>
              <p><strong>DNI:</strong> {{ usuario.dni }}</p>
              <p><strong>Edad:</strong> {{ usuario.edad | edad }}</p>
              <p><strong>Email:</strong> {{ usuario.email }}</p>
              <p *ngIf="usuario.tipo =='paciente'"><strong>Obra Social:</strong> {{ usuario.obrasocial }}</p>
              <p *ngIf="usuario.tipo =='especialista'"><strong>Especialidades:</strong> {{ usuario.especialidades }}</p>

              <ng-container *ngIf="usuario.tipo == 'paciente'">
                  <div class="historias-clinicas" [@fadeIn]>
                      <h3>Mis Historias Clínicas</h3>
                      

                          <!-- Dropdown de Especialidades -->
                        <div>
                            <label for="especialidad-select">Filtrar por especialidad:</label>
                            <select id="especialidad-select" [(ngModel)]="especialidadSeleccionada" (change)="filtrarHistorias()">
                            <option value="">Todas las especialidades</option>
                            <option *ngFor="let especialidad of especialidades" [value]="especialidad">{{ especialidad }}</option>
                            </select>
                            <button (click)="downloadPDF()" style="margin-left: 10px">Descargar</button>
                        </div>
  
                        <div *ngIf="historiasFiltradas.length > 0; else noHistorial" style="margin-top: 10px">
                            <div class="historias-container">
                              <div *ngFor="let historia of historiasFiltradas">
                                <h4>Turno: {{ historia.turno.split(',')[0] }}</h4>
                                <p><strong>Especialidad:</strong> {{ historia.especialidad }}</p>
                                <p><strong>Especialista:</strong> {{ historia.especialista }}</p>
                                <p><strong>Altura:</strong> {{ historia.datosPrincipales[0] }}</p>
                                <p><strong>Peso:</strong> {{ historia.datosPrincipales[1] }}</p>
                                <p><strong>Temperatura:</strong> {{ historia.datosPrincipales[2] }}</p>
                                <p><strong>Presión:</strong> {{ historia.datosPrincipales[3] }}</p>
                                <div *ngIf="historia.datosDinamicos">
                                  <div *ngFor="let item of historia.datosDinamicos | keyvalue">
                                    <p><strong>{{ item.key }}:</strong> {{ item.value }}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                      <ng-template #noHistorial>
                          <p>No tienes historias clínicas registradas.</p>
                      </ng-template>
                  </div>
              </ng-container>

              <ng-container *ngIf="usuario.tipo == 'especialista'">
                  <div class="input-duration" [@expand]>
                      <label for="duracionTurno"><strong>Duración del Turno (minutos):</strong></label>
                      <input type="number" id="duracionTurno" [(ngModel)]="usuario.duracionTurno" min="30" placeholder="Ejemplo: 30" (ngModelChange)="actualizarDuracionEnFirebase()">
                  </div>

                  <div class="especialidad-selector" [@expand]>
                      <label for="especialidad"><strong>Seleccionar Especialidad:</strong></label>
                      <select id="especialidad" [(ngModel)]="selectedEspecialidad">
                          <option *ngFor="let especialidad of usuario.especialidades" [value]="especialidad">
                              {{ especialidad }}
                          </option>
                      </select>
                  </div>

                  <div *ngIf="selectedEspecialidad" [@fadeIn]>
                      <h3>Agregar Franja Horaria</h3>
                      <label for="dia">Día de la Semana:</label>
                      <select id="dia" [(ngModel)]="selectedDia">
                          <option *ngFor="let dia of diasDeLaSemana" [value]="dia">{{ dia }}</option>
                      </select>

                      <label for="inicioHora">Hora de Inicio:</label>
                      <input type="time" id="inicioHora" [(ngModel)]="inicioHora">

                      <label for="finHora">Hora de Fin:</label>
                      <input type="time" id="finHora" [(ngModel)]="finHora">

                      <button (click)="agregarFranjaHoraria()">Agregar Franja Horaria</button>

                      <div class="franjas-list">
                          <h4>Franjas Horarias Añadidas:</h4>
                          <ul>
                              <li *ngFor="let franja of franjasHorarias; let i = index">
                                  <strong>{{ franja.especialidad }}</strong>: {{ franja.dia }} - {{ franja.inicio }} a {{ franja.fin }}
                                  <button (click)="eliminarFranja(i)" class="delete-button">Borrar</button>
                              </li>
                          </ul>
                      </div>
                  </div>
              </ng-container>
          </div>
      </div>
  </div>
</div>
