<header>
    <nav class="navbar">
      <ul>
        <li><img class="icon-photo" src="icon.png" alt="Icono"></li>
        <!-- <li><a *ngIf="isLoggedIn">Bienvenido: {{ this.auth.nombreUsuario }}</a></li>  -->
        <ng-container *ngIf="!isLoggedIn">       
          <li><a routerLink="home" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }" appAnimarEnlaces>Inicio</a></li> 
        </ng-container>
        <ng-container *ngIf="this.usuario.tipo == 'admin' && isLoggedIn ">  
          <li><a routerLink="usuarios" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }" appAnimarEnlaces>Usuarios</a></li>  
        </ng-container>
        <ng-container *ngIf="(this.usuario.tipo == 'paciente' || this.usuario.tipo == 'admin') && isLoggedIn "> 
          <li><a routerLink="solicitar-turno" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }" appAnimarEnlaces>Solicitar turno</a></li> 
        </ng-container>
        <ng-container *ngIf="(this.usuario.tipo == 'paciente' || this.usuario.tipo == 'especialista') && isLoggedIn "> 
          <li><a routerLink="mis-turnos" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }" appAnimarEnlaces>Mis turnos</a></li> 
        </ng-container>
        <ng-container *ngIf="(this.usuario.tipo == 'admin') && isLoggedIn "> 
          <li><a routerLink="turnos" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }" appAnimarEnlaces>Turnos</a></li>  
        </ng-container>
        <ng-container *ngIf="(this.usuario.tipo == 'admin') && isLoggedIn "> 
          <li><a routerLink="estadisticas" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }" appAnimarEnlaces>Estadísticas</a></li>  
        </ng-container>
        <ng-container *ngIf="(this.usuario.tipo == 'especialista') && isLoggedIn "> 
          <li><a routerLink="pacientes" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }" appAnimarEnlaces>Pacientes</a></li>  
        </ng-container>
        <ng-container *ngIf="isLoggedIn"> 
          <li><a routerLink="perfil" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }" appAnimarEnlaces>Mi Perfil</a></li> 
        </ng-container>
        <ng-container *ngIf="isLoggedIn">  
          <li><a (click)="logout()" routerLink="/login" routerLinkActive="active-route" [routerLinkActiveOptions]="{ exact: true }" appAnimarEnlaces >Cerrar Sesión</a></li> 
        </ng-container>         
      </ul>
    </nav>
  </header>