/* Estilos para el contenedor de fondo del formulario */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92.3vh;
    width: 100vw;
    background-color: #292952;
    background-image: url('../../../../public/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Sección de registro */
.usuarios-section {
    background-color: #e6edf7;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 92%; /* Ajusta el ancho para que no sea demasiado grande */
    min-width: 85%;
    min-height: 700px; /* Define un ancho mínimo */

}

/* Títulos y textos */
.usuarios-section h1 {
    font-size: 2em;
    color: #686868;
    margin-bottom: 20px;
    text-align: center;
}

.tabs-container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  /* Estilo de las tabs */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .tabs button.active-tab {
    background-color: #3262ff; /* Color para el botón activo */
    color: #fff; /* Color del texto del botón activo */
  }

  .tabs button {
    background-color: #6d8efa;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    color: #fcfcfc;
    border-radius: 4px;
    margin: 0 5px;
    font-size: 15px;
    transition: background-color 0.3s;
  }
  
  .tabs button.active,
  .tabs button:hover {
    background-color: #3262ff;
    color: #fff;
  }
  
  /* Estilo de la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #3262ff;
    color: white;
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #e0e0e0;
  }
  
  .table-container {
    overflow-x: auto; /* Añade scroll horizontal para pantallas pequeñas */
  }
  
  /* Mensaje si no hay usuarios */
  .no-users-message {
    text-align: center;
    color: #777;
    font-size: 16px;
    margin-top: 20px;
  }

  .filter-container {
    margin-bottom: 1rem;
  }

  .checkboxActivo
  {
    margin-top: 14px;
    margin-left: 20px;

  }